<%= render 'partials/header' %>
<br>
<br>
<br>

			<div class="card">
              <div class="card-body">
                <h5 class="card-title">Contact Us</h5>

                <p class="card-text">
                  Welcome to TodoApp.com. Come Enjoy the virtual experience of keeping of your todo activities. We're a <strong>small SaaS startup</strong> based in the heart of <strong>United Kingdom</strong>. We strive to make working life simpler for our customers while saving their time and money. 
 
                </p>

              </div>
            </div>




<%= render 'shared/footer'%>