<div id="<%= dom_id list_item %>">
  <p>
    <strong>Short name:</strong>
    <%= list_item.short_name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= list_item.description %>
  </p>

</div>
